body{
    margin: auto;
    background-color: #d3fdf3;
}

a{
    text-decoration: none;
}

/* Header */
header{
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: #faf1c4;
    box-shadow: 0px 3px 5px grey;
}

#icon{

    float: left;
    
}

#social{
    margin-top: 1%;
    float: right;
}

.slogo{
    height: 50px;
    width: 50px;
}

#filter{
    margin: 4% 18%;
    display: inline-block;
    margin-top: 16%;
}


#heading{
    position: absolute;
    margin: 10% 11%;
}

#heading span{
    display: block;
    font-size: 49px;
    text-decoration: underline;
    font-weight: bold;
}

#Mainfilter{
    width: 28%;
    margin-top: 4%;
    margin-left: -13%;
    height: 743px;
    box-shadow: 0px 3px 8px grey;
    background-color:  #faf1c4;
}

#Mainfilter span{
    margin: 0% 25%;
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif

}

.c1{
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
}

.subheading{
    margin-top: 9%;
    margin-left: 16%;
    font-size: 1rem;
}

.subheading p{
    font-size: 23px;
    font-weight: bold;
    color: #121235;
    margin-left: 1%;
    margin-top: 16%;
}

#p1{
    padding: 2% 4%;
    color: #5f75a0;
    margin: -1% 2%;
}

.container{
    color: #424268;
    line-height: 1.5;
    margin-top: -5%;
}

#main{
    display: inline-block;
    width: 60%;
    margin: -97% 22%;
}

.tilecontainer{
    width: 160%;
    height: 250px;
    display: inline-block;
    margin: 2% 2%;
    margin-top: 1.4%;
    box-shadow: 0px 6px 10px grey;
    border-radius: 8%;

}

.tilecomponent1{
    width: 50%;
    height: 250px;
    border-radius: 10%;
    float: left;
}

.tilecomponent1 img{
    height: 250px;
    border-radius: 50%;
    width: 100%;
}

.tilecomponent2{
    width: 40%;
    float: left;
    margin-top: 7%;
    margin-left: 5%;
}

.componentheading{

}

.componentheading a{
    font-size: 45px;
    font-weight: bold;
    color: #0c0131;
}

.componentsubheading{
    font-size: 18px;
    font-family: serif;
    color: #2e2e55;
}

/* Footer */
footer{
    height: 80px;
    background-color: #faf1c4;
}

#footcopy{
    text-align: center;
    color: black;
    font-weight: bold;
}

.footcontact{
    height: 70px;
    width: 33%;
    float: left;
    border-left: 2px solid black;
    text-align: center;
    background-color: #faf1c4;
}

.noborder{
    border: none;
}